body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.input-group {
    margin-bottom: 15px;
}

#imageCanvas {
    border: 1px solid #ccc;
    display: block;
    margin-top: 20px;
    max-width: 100%;  /* 限制画布宽度最大为父容器宽度 */
    max-height: 80vh;  /* 限制画布高度最大为视口高度的 80% */
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;  /* 居中显示 */
}